* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* imposto sfondo in body */
body {
  background-image: url(../img/sfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* inizio header */
/* inizio banner con immagine e testo */
.logo {
  height: 225px;
  background-image:url(../img/albero.jpg);
  text-align: center;
  position: relative;
  border: 8px solid white;
}

.testo {
  color: white;
  position: absolute;
  left: 50% ;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  border: 3px solid white;
  padding:5px;
  margin: 17px;
}
/* fine banner con immagine e testo */

/* inizio menu */
.menu {
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* ricorda che text align center va dato al padre e non ad li */
  background: #585756;
}

li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
/* fine menu */
/* fine header */


/* inizio  main */
main {
  margin: 10px 0;
}

/* clearfix impostato sul main */
main::after {
  content: '';
  display:table;
  clear: both;
}

/* float left colonne main */
main .col {
  float:left;
  text-align: center;
}


/*  inizio colonna sinistra */
main .left {
  background: white;
  width: 20%;
  height: 300px;
  border: 2px solid white;
  border-radius: 6px;
  margin-left: 15px;
}
.left h3 {
 margin-bottom: 10px;
}
/* fine colonna sinistra */

/*  colonna centrale */
main .center {
  background: white;
  width: 45%;
  margin: 0 5% 0 5%;
  border: 2px solid white;
  border-radius: 6px;
}
/* fine colonna centrale */

/* inizio colonna destra */
main .right {
  width: 20%;
}

.widget {
  margin-bottom: 17px;
  background: white;
  width: 100%;
  border: 2px solid white;
  border-radius: 6px;

}

.widget:last-child {
  margin-bottom: 20px;
}
/* fine colonna destra /*
/* fine main */

/* inizio footer  */
footer {
  background: white;
  text-align: center;
  color: grey;
}

footer .colonna {
  float:left;
  text-align: center;
  width: 33%;
}

footer::after {
  content: '';
  display:table;
  clear: both;
}
/* ho provato in tutti i modi di selezionare le icone sul css ma non sono riuscita */
 .colonna .i {
  height: 30px;
  margin: 10px;
}
/* fine footer */
